<%= form_with(model: seller, local: true) do |form| %>
  <% if seller.errors.any? %>
    <div id="error_explanation">
      <!-- <h2><%= pluralize(seller.errors.count, "error") %> prohibited this seller from being saved:</h2> -->

      <ul>
      <% seller.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :company_name %>
    <%= form.text_field :company_name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
      <%= form.label :location_id  %>
      <%= form.select :location_id, city.map{|v| [v.city,v.id]}  %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :website_url %>
    <%= form.text_field :website_url %>
  </div>

  <div class="field">
    <%= form.label :google_reviews_url %>
    <%= form.text_field :google_reviews_url %>
  </div>

  <div class="field">
      <%= form.label :cuisine_id  %>
      <%= form.select :cuisine_id, cuisines.map{|c| [c.name,c.id]}  %>
  </div>

  <div>
      <%= form.label :picture  %>
      <%= form.file_field :picture, accept: "image/png,image/gif,image/jpeg,image/jpg"  %>
  </div>

  <%= form.hidden_field :user_id, :value => current_user.id %>
  
  <div class="actions">
      <%= form.submit %>
  </div>

<% end %>

