<%= form_with(model: product_listing, local: true) do |form| %>
  <% if product_listing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product_listing.errors.count, "error") %> prohibited this product_listing from being saved:</h2>

      <ul>
      <% product_listing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :product_name %>
    <%= form.text_field :product_name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :was_price %>
    <%= form.number_field :was_price %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price %>
  </div>

  <div class="field">
    <%= form.label :expiry_date %>
    <%= form.date_select :expiry_date %>
  </div>

  <div class="field">
    <%= form.label :seller_id %>
    <%= form.text_field :seller_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
