<p id="notice"><%= notice %></p>
<p>
  <strong>Product Image:</strong>
  <%= image_tag @product_listing.picture if @product_listing.picture.attached? %>
</p>

<p>
  <strong>Product name:</strong>
  <%= @product_listing.product_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product_listing.description %>
</p>

<p>
  <strong>Was price:</strong>
  <%= @product_listing.was_price %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product_listing.price %>
</p>

<p>
  <strong>Expiry date:</strong>
  <%= @product_listing.expiry_date %>
</p>

<%= link_to 'Edit', edit_product_listing_path(@product_listing) %> |
<%= link_to 'Back', product_listings_path(:seller_id => @current_seller.id) %>
