<p id="notice"><%= notice %></p>

<h1>Kendo Deals Purchased History</h1>
<%= link_to 'My Reviews', product_reviews_path %>

<% if @product_purchased_listings.empty? %>
  <p>You have not made any purchases.</p>
<% else %>
<table>
  <thead>
    <tr>
      <th>QR CODE</th>
      <th>Product name</th>
      <th>Restaurant</th>
      <th>Description</th>
      <th>Was price</th>
      <th>Kendo Discount</th>
      <th>Price</th>
      <th>Reference number</th>
      <th>Expiry date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @product_purchased_listings.each do |product_purchased_listing| %>
      <tr>
        <td><%= image_tag product_purchased_listing.qrcode %></td>
        <td><%= product_purchased_listing.company_name %></td>
        <td><%= product_purchased_listing.product_name %></td>
        <td><%= product_purchased_listing.description %></td>
        <td>$<%= number_with_precision(product_purchased_listing.was_price, precision: 2) %></td>
        <td><%= (Float(product_purchased_listing.was_price.to_i - product_purchased_listing.price.to_i) / product_purchased_listing.was_price.to_i * 100).ceil %>% Kendo Savings</td>
        <td>$<%= number_with_precision(product_purchased_listing.price, precision: 2) %></td>
        <td><%= product_purchased_listing.reference_number %></td>
        <td><%= product_purchased_listing.expiry_date %></td>
        <td><%= link_to 'Show', product_purchased_listing %></td>
        <td><%= link_to 'Destroy', product_purchased_listing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
<br>

<%= link_to 'Home Page', root_path %>
