<p id="notice"><%= notice %></p>


<p>
  <strong>QR CODE:</strong>
  <%= image_tag @product_purchased_listing.qrcode %>
</p>

<p>
  <strong>Product name:</strong>
  <%= @product_purchased_listing.product_name %>
</p>

<p>
  <strong>Company name:</strong>
  <%= @product_purchased_listing.company_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product_purchased_listing.description %>
</p>

<p>
  <strong>Was price:</strong>
  $<%= number_with_precision(@product_purchased_listing.was_price, precision: 2) %>
</p>

<p>
  <strong>Kendo Discount:</strong>
  <%= (Float(@product_purchased_listing.was_price.to_i - @product_purchased_listing.price.to_i) / @product_purchased_listing.was_price.to_i * 100).ceil %>% Kendo Savings
</p>

<p>
  <strong>Price:</strong>
  $<%= number_with_precision(@product_purchased_listing.price, precision: 2) %>
</p>

<p>
  <strong>Reference number:</strong>
  <%= @product_purchased_listing.reference_number %>
</p>

<p>
  <strong>Expiry date:</strong>
  <%= @product_purchased_listing.expiry_date %>
</p>

<%= link_to 'Back To My Profile', product_purchased_listings_path %>
