<p id="notice"><%= notice %></p>

<h1>My Product Reviews</h1>
<% if @product_reviews.empty? %>
  <p>You have made no product reviews.</p>
<% else %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Review</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @product_reviews.each do |product_review| %>
      <tr>
        <td><%= product_review.name %></td>
        <td><%= product_review.review %></td>
        <td><%= product_review.created_at %></td>
        <td><%= link_to 'Remove from my reviews', product_review, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<br>

<%= link_to 'Back To My Profile', product_purchased_listings_path %>
