<!DOCTYPE html>
<html>
  <head>
    <title>Kendo Deals</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://js.stripe.com/v3/"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="container-fluid no-padding">
    <% if notice %>
        <p class="notice"><%= notice %></p>
    <% end %>
    <% if alert %>
        <p class="alert"><%= alert %></p>
    <% end %>
    <% unless controller.controller_name == 'checks' %>
      <%= render "generic/header" %>
    <% end %>
    <% link_to "logout", destroy_user_session_path, method: "DELETE" if user_signed_in? %>
    <%= yield %>
    </div>
  </body>
</html>